:root {
	--system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--blue: #1992d4;
	--light-gray: #e2e8f0;
	--gray-text: #636363;
	--yellow: #facc15;
	--dark-yellow: #f0b429;
	--box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif, var(--system-ui);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.avatar-container {
	border-radius: 50%;
}

.avatar-container-small {
	width: 40px;
	height: 40px;
}

.avatar-container-medium {
	width: 60px;
	height: 60px;
}

.avatar-container-yellow {
	background-color: var(--yellow);
}

.btn {
	font-weight: 500;
	color: #fff;
	padding: 9px 0;
	border: 0;
	border-radius: 18px;
	width: 95px;
}

.bg-blue {
	background-color: var(--blue);
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 170px 1fr;
	grid-template-columns: 250px 1fr;
}

.sidebar {
	padding: 15px 0;
	background-color: var(--blue);
	grid-row: 1 / -1;
	grid-column: 1;
}

.sidebar-link-list {
	display: grid;
	gap: 22px;
}

.sidebar-link-list:nth-of-type(2) {
	margin-top: 50px;
}

.sidebar-link-list:nth-of-type(3) {
	margin-top: 70px;
}

.sidebar-link {
	font-size: 1.3rem;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	padding-left: 25px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.sidebar-link-icon,
.header-icon {
	width: 22px;
	height: 22px;
}

.sidebar-link-icon {
	fill: #fff;
}

.dashboard-link {
	font-size: 1.6rem;
	padding-left: 15px;
	gap: 10px;
}

.dashboard-link .sidebar-link-icon {
	width: 45px;
	height: 45px;
}

.header {
	padding: 0px 40px;
	grid-row: 1;
	grid-column: 2;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 6fr 4fr;
	z-index: 1;
	box-shadow: var(--box-shadow);
}

.header-cell {
	display: grid;
	align-items: center;
}

.header-cell-1 {
	grid-template-columns: auto 1fr;
	gap: 15px;
}

#search {
	font-size: 1.1rem;
	padding: 5px 10px;
	background-color: var(--light-gray);
	border: 0;
	border-radius: 15px;
	width: 100%;
}

.header-cell-2 {
	padding-right: 15%;
	grid-auto-flow: column;
	justify-content: end;
	gap: 30px;
}

.header-cell-2 a {
	font-weight: 700;
	color: inherit;
	text-decoration: none;
}

.header-cell-3 {
	grid-auto-flow: column;
	justify-content: start;
	gap: 20px;
}

.greetings {
	font-weight: 700;
	display: grid;
	gap: 4px;
	margin: 0;
}

.greetings *:nth-child(1) {
	font-size: 0.8rem;
}

.greetings *:nth-child(2) {
	margin: 0;
	font-size: 1.3rem;
}

.header-cell-4 {
	grid-auto-flow: column;
	justify-content: center;
	gap: 25px;
}

.main {
	padding: 30px 20px;
	background-color: var(--light-gray);
	grid-row: 2 / -1;
	grid-column: 2;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 7fr 3fr;
	gap: 20px;
}

.main h2 {
	margin: 0 0 10px 0;
	font-size: 1.2rem;
}

.projects-section {
	grid-row: 1 / -1;
}

.project-list,
.announcement-list,
.trending-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

.project,
.announcement-list,
.trending-list {
	border-radius: 6px;
	box-shadow: var(--box-shadow);
}

.project {
	padding: 30px 20px 20px 20px;
	background-color: #fff;
	border-left: 7px solid var(--dark-yellow);
	min-height: 200px;
	display: grid;
	grid-template-rows: auto auto 1fr;
}

.project-header {
	font-size: 1rem;
	margin: 0 0 5px 0;
}

.project-text {
	font-size: 0.9rem;
	color: var(--gray-text);
	margin: 0 0 auto 0;
}

.project-buttons {
	place-self: end;
	display: flex;
	gap: 15px;
}

.project-button {
	border: none;
	background: none;
	width: 35px;
	height: 35px;
}

.project-button svg {
	fill: #333;
}

.announcements-section {
}

.announcement-list {
	padding: 35px 25px 25px 25px;
	background-color: #fff;
}

.announcement {
	padding: 0 5px;
}

.announcement:not(:first-child) {
	padding-top: 20px;
}

.announcement:not(:last-child) {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--light-gray);
}

.announcement-header {
	font-size: 0.9rem;
	margin: 0 0 4px 0;
}

.announcement-text {
	font-size: 0.8rem;
	color: var(--gray-text);
	margin: 0;
}

.trending-list {
	padding: 20px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.trending-link {
	text-decoration: none;
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	gap: 15px;
}

.trending-list li:nth-child(1) .avatar-container {
	background-color: #e0f2fe;
}

.trending-list li:nth-child(3) .avatar-container {
	background-color: #a3a3a3;
}

.trending-list li:nth-child(4) .avatar-container {
	background-color: #fda4af;
}

.profile-text {
	display: grid;
	align-content: center;
	align-items: center;
	gap: 1px;
}

.profile-handler {
	font-size: 0.9rem;
	color: #000;
}

.profile-name {
	font-size: 0.8rem;
	color: var(--gray-text);
}
